footer.footer-container {
  width: 100%;
}

footer.footer-container section.footer-container-section {
  max-width: 100%;
}

footer.footer-container section.footer-container-section nav.footer-nav-link {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

footer.footer-container section.footer-container-section nav.footer-nav-link ul {
  list-style: none;
  margin: 0;
}

footer.footer-container section.footer-container-section nav.footer-nav-link ul h5 {
  margin: 0;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
}

footer.footer-container section.footer-container-section nav.footer-nav-link ul li {
  height: 1.5vw;
}

footer.footer-container section.footer-container-section nav.footer-nav-link ul li a {
  font-family: Arial;
  font-size: 0.8vw;
  font-weight: normal;
  color: #8D8D96;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer.footer-container section.footer-container-section nav.footer-nav-link ul li a:hover {
  text-decoration: underline;
  color: #009EF9;
}

footer.footer-container section.footer-container-section div.footer-div-container {
  padding: 20px 20px;
  width: 100%;
  background-color: black;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro {
  width: 1200px;
  margin: 0 auto;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-text {
  width: 100%;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-text p {
  margin: 0;
  line-height: 30px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  color: #8D8D96;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-left h5 {
  margin: 0;
  color: white;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-left p {
  line-height: 20px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  color: #8D8D96;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-left ul li b {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  color: #8D8D96;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-left ul li a {
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  color: #8D8D96;
  text-decoration: none;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-left ul li a:hover {
  text-decoration: underline;
  color: #009EF9;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-right h5 {
  margin: 0;
  color: white;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-right p {
  line-height: 30px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  color: #8D8D96;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-right div.your-phone {
  padding: 5px 5px;
  width: 300px;
  border: 1px solid #8D8D96;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-right div.your-phone p {
  color: #FF066A;
  font-size: 20px;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-right div.your-phone p svg {
  color: #8D8D96;
  width: 17px;
  height: 17px;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.div-icon-link {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.div-icon-link a img {
  height: 50px;
  width: 150px;
}

footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.div-icon-link a:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 739px) {
  footer.footer-container {
    overflow-x: hidden;
    width: 100vw;
  }
  footer.footer-container section.footer-container-section {
    width: 100vw;
  }
  footer.footer-container section.footer-container-section nav.footer-nav-link ul h5 {
    font-size: 1.5vw;
  }
  footer.footer-container section.footer-container-section nav.footer-nav-link ul li {
    height: 2.5vh;
  }
  footer.footer-container section.footer-container-section nav.footer-nav-link ul li a {
    font-size: 1.6vw;
  }
  footer.footer-container section.footer-container-section div.footer-div-container {
    padding: 3vw 0;
    width: 100vw;
    background-color: black;
  }
  footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-text {
    width: 100vw;
    padding: 0 2vw;
  }
  footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-text p:first-child {
    line-height: 5vw !important;
    font-size: 4.5vw !important;
  }
  footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-text p {
    line-height: 3.5vw;
    font-size: 2vw;
  }
  footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-left {
    display: none;
  }
  footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-right {
    width: 100%;
  }
  footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-right h5 {
    font-size: 3.5vw;
  }
  footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-right p {
    font-size: 2.2vw !important;
  }
  footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-right div.your-phone {
    border: none !important;
    width: 50vw !important;
    height: 8.5vw !important;
  }
  footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-right div.your-phone p {
    font-size: 3.0vw !important;
  }
  footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.footer-div-intro-link div.div-right div.your-phone p svg {
    width: 3.5vw !important;
    height: 3.5vw !important;
  }
  footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.div-icon-link {
    width: 100vw;
    padding: 0;
    padding-right: 4vw;
  }
  footer.footer-container section.footer-container-section div.footer-div-container div.footer-div-intro div.div-icon-link a img {
    height: 7vw;
    width: 15vw;
  }
}
/*# sourceMappingURL=footer.css.map */