$color: #8D8D96;
$font-weight: normal;
$font-size: 12px;
$font-family: Arial;

$transition-anim-a: 0.3s;
$color-anim-a: #009EF9;

footer.footer-container {
    width: 100%;

    section.footer-container-section {
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;

        nav.footer-nav-link {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;

            ul {
                list-style: none;

                h5 {
                    font-family: $font-family;
                    font-size: $font-size;
                    font-weight: normal;
                }

                li {
                    a {
                        font-family: $font-family;
                        font-size: $font-size;
                        font-weight: normal;
                        color: $color;
                        text-decoration: none;
                        transition: $transition-anim-a;

                        &:hover {  
                            text-decoration: underline;    
                            color: $color-anim-a; 
                        }
                    }
                }
            }
        }

        div.footer-div-intro {
            padding: 20px 20px;
            width: 100%;
            background-color: black;
            div.footer-div-intro-text {
                p {
                    line-height: 30px;
                    font-family: $font-family;
                    font-size: $font-size;
                    font-weight: normal;
                    color: $color;
                }
            }

            div.footer-div-intro-link {
                display: flex;
                justify-content: space-between;

                div.div-left {

                    h5 {
                        color: white;
                    }

                    p {
                        line-height: 20px;
                        font-family: $font-family;
                        font-size: $font-size;
                        font-weight: normal;
                        color: $color;
                    }
                    ul {
                        display: flex;
                        list-style: none;

                        li {

                            b {
                                font-family: $font-family;
                                font-size: 14px;
                                font-weight: bold;
                                color: $color;
                            }

                            a {
                                font-family: $font-family;
                                font-size: $font-size;
                                font-weight: normal;
                                color: $color;
                                text-decoration: none;

                                &:hover {  
                                    text-decoration: underline;    
                                    color: $color-anim-a; 
                                }
                            }
                        }
                    }
                }

                div.div-right {
                    
                    h5 {
                        color: white;
                    }
                    p {
                        line-height: 30px;
                        font-family: $font-family;
                        font-size: $font-size;
                        font-weight: normal;
                        color: $color;
                    }

                    div.your-phone {
                        padding: 5px 5px;
                        width: 300px;
                        border: 1px solid $color;
                        p {
                            color: #FF066A;
                            font-size: 20px;
                            svg {
                                color: $color;
                                width: 17px;
                                height: 17px;
                            }
                        }
                        
                    }
                }  
            }

            div.div-icon-link {
                padding: 25px 0;
                display: flex;
                justify-content: space-around;

                a {

                    img {
                        height: 50px;
                        width: 150px;        
                    }

                    &:hover {
                        opacity: 0.6;     
                    }
                }
            }
        }
    }
}