$color: #8D8D96;
$font-weight: normal;
$font-size: 12px;
$font-family: Arial;

$transition-anim-a: 0.3s;
$color-anim-a: #009EF9;

footer.footer-container {
    width: 100%;

    section.footer-container-section {
        max-width: 100%;

        nav.footer-nav-link {
            width: 1200px;
            max-width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;

            ul {
                list-style: none;
                margin: 0;

                h5 {
                    margin: 0;
                    font-family: $font-family;
                    font-size: $font-size;
                    font-weight: normal;
                }

                li {
                    height: 1.5vw;

                    a {
                        font-family: $font-family;
                        font-size: 0.8vw;
                        font-weight: normal;
                        color: $color;
                        text-decoration: none;
                        transition: $transition-anim-a;

                        &:hover {  
                            text-decoration: underline;    
                            color: $color-anim-a; 
                        }
                    }
                }
            }
        }

        div.footer-div-container {
            padding: 20px 20px;
            width: 100%;
            background-color: black;

            div.footer-div-intro {
                width: 1200px;
                margin: 0 auto;

                div.footer-div-intro-text {
                    width: 100%;
                    
                    p {
                        margin: 0;
                        line-height: 30px;
                        font-family: $font-family;
                        font-size: $font-size;
                        font-weight: normal;
                        color: $color;
                    }
                }
    
                div.footer-div-intro-link {
                    display: flex;
                    justify-content: space-between;
    
                    div.div-left {
    
                        h5 {
                            margin: 0;
                            color: white;
                        }
    
                        p {
                            line-height: 20px;
                            font-family: $font-family;
                            font-size: $font-size;
                            font-weight: normal;
                            color: $color;
                        }
                        ul {
                            display: flex;
                            list-style: none;
    
                            li {
    
                                b {
                                    font-family: $font-family;
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: $color;
                                }
    
                                a {
                                    font-family: $font-family;
                                    font-size: $font-size;
                                    font-weight: normal;
                                    color: $color;
                                    text-decoration: none;
    
                                    &:hover {  
                                        text-decoration: underline;    
                                        color: $color-anim-a; 
                                    }
                                }
                            }
                        }
                    }
    
                    div.div-right {
                        
                        h5 {
                            margin: 0;
                            color: white;
                        }
                        p {
                            line-height: 30px;
                            font-family: $font-family;
                            font-size: $font-size;
                            font-weight: normal;
                            color: $color;
                        }
    
                        div.your-phone {
                            padding: 5px 5px;
                            width: 300px;
                            border: 1px solid $color;
                            p {
                                color: #FF066A;
                                font-size: 20px;
                                svg {
                                    color: $color;
                                    width: 17px;
                                    height: 17px;
                                }
                            }
                            
                        }
                    }  
                }
    
                div.div-icon-link {
                    padding: 25px 0;
                    display: flex;
                    justify-content: space-around;
    
                    a {
    
                        img {
                            height: 50px;
                            width: 150px;        
                        }
    
                        &:hover {
                            opacity: 0.6;     
                        }
                    }
                }
            }
        }
    }
}


// Mobile
@media only screen and (max-width: 739px) {
    footer.footer-container {
        overflow-x: hidden;
        width: 100vw;
       

        section.footer-container-section {
            width: 100vw;


            nav.footer-nav-link {
                
                ul {
                   
                    h5 {
                        font-size: 1.5vw;

                        li {

                            
                            a {
                                
                            }
                        }
                    }
                }
            }

            div.footer-div-container {
                padding: 3vw 0;
                width: 100vw;
                background-color: black;

                div.footer-div-intro {

                    div.footer-div-intro-text {
                        width: 100vw;
                        padding: 0 2vw;
                        
                        p:first-child {
                            line-height: 5vw !important;
                            font-size: 4.5vw !important;
                        }

                        p {
                            
                            line-height: 3.5vw;
                            font-size: 2vw;
                        }
                    }

                    div.footer-div-intro-link {

                        div.div-left {
                            display: none;

                        }

                        div.div-right {
                            width: 100%;

                            h5 {
                                font-size: 3.5vw;
                            }

                            p {
                                font-size: 2.2vw !important;
                            }

                            div.your-phone {
                                border: none !important;
                                width: 50vw !important;
                                height: 8.5vw !important;

                                p {
                                    font-size: 3.0vw !important;
                                    svg {
                                        width: 3.5vw !important;
                                        height: 3.5vw !important;
                                    }
                                }
                            }
                        }
                    }

                    div.div-icon-link {
                        width: 100vw;
                        padding: 0;
                        padding-right: 4vw;
                    
                        a {
                            
                            img {
                                height: 7vw ; 
                                width: 15vw ;
                            }
                        }
                    }
                }
            }
        } 
    }
}
  
  // Tablet 
  @media only screen and (min-width: 740px) and (max-width: 1023px) { 

  } 
  
  // PC resolution and PC
  @media only screen and (min-width: 1024px) {    
  }