@import url('../fonts/Abel-Regular.ttf');
@import url('/AppleCenter/fonts/Cairo-Regular.ttf');

div.carousel {
    padding-top: 110px;
}

header.header-container {
        nav{
            background-color: black;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }
        .navbar{
            width: 100%;
        }

        .navbar ul li a{
            font-family: serif;
            font-size: 20px;
            color: white;
        }
//----------------
        .dropdown{
            position: relative;
        }
        .dropdown-content{
            display: none;
            position: absolute;
            background-color: none;
            z-index: 1;
        }
        .dropdown:hover .dropdown-content{
            display: block;
            background-color: gray;
        }

}
